*{
    padding: 0;
    margin: 0;
    
}
body{
    background-color:#030712;
    position: relative;
}

.body{
    background-color: white;
}

:root{
    --font-f:"Kanit",Arial, Helvetica, sans-serif;

}

.header{
    display: flex;
    position: sticky;
    flex-direction: row;
    background-color: #0f172a;
    padding: 15px;
    color: white;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.8);
   
}

.l-header{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    
    margin-top: 7px;
}

.name{
    font-size: x-large;
    font-family: var(--font-f)
}

.tabs-ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    font-family: var(--font-f);
    font-size: x-large;
}

.tabs-ul li{
    margin-right: 30px;
}

.tabs-ul li:hover{
    color: #7dd3fc;
    cursor: default;
}

.h-img img{
    width: 125px;
    height: 125px;
    border-radius: 50%; 
    object-fit: cover;
    transition: transform 0.5s ease;
}

.h-img img:hover{
    transform: scale(1.1,1.1);
}

.light{
    background-color: #e0f2fe;
    display: flex;
    flex-direction: row;
    padding: 15px;
    color:#172554;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.8);
}

.btn svg{
    height: 25px;
    width: 30px;
    fill: white;
}

.btn{
    width: 40px;
    height: 35px;
    border: 1px solid white;
    border-radius: 6px;
    background-color:#0f172a;
    transition: transform 0.5s ease;
}

.btn-change {
    width: 40px;
    height: 35px;
    border: 1px solid #0f172a;
    border-radius: 6px;
    background-color: #e0f2fe;
    transition: transform 0.5s ease;
}

.btn-change svg{
    height: 25px;
    width: 30px;
    fill: #0f172a;
}

.btn:hover,
.btn-change:hover{
    transform: scale(1.2,1.2);
    
}

.r-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 79px;
    margin-left: 400px;
}
.r-header button{
    margin-right: 30px;
}

.m-content{
    margin-left: 160px;
    margin-top: 40px;
    font-family: var(--font-f);
    display: grid;
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    margin-right: 20px;
    
}

.m-sec img{
    height: 190px;
    width: 190px;
    border-radius: 50%;
    transition: transform 0.5s ease;
}

.m-sec img:hover{
    transform: scale(1.1,1.1);
}

.m-sec{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-column: 1/4;
    background-color: #0f172a;
    border-radius: 14px;
    padding: 12px;
    transition: transform 0.5s ease;
    color: white;
}

.m-sec:hover{
    transform: scale(1.05,1.05);
}

.m-text{
    margin-left: 20px;
    margin-bottom: 25px;
}

.m-t-head{
    font-size: x-large;
    margin-top: 5px;
}

.mSec-change{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-column: 1/4;
    background-color: #e0f2fe;
    border-radius: 14px;
    padding: 12px;
    transition: transform 0.5s ease;
    color: #0f172a;
    border: 1px solid #0f172a;;
}

.info-img{
    grid-row-start: 1;
    grid-column-start: 4;
    justify-self: center;
    align-self: center;
    margin-top: 10px;
    transition: 0.5s transform ease;
    
}

.info-img img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    object-fit: cover;
   
}

.m-info{
    grid-column: 4/5;
    grid-row: 2/6;
    border-radius: 16px;
    background-color: #0f172a;;
    color: white;
    font-family: var(--font-f);
    padding: 15px;
    border: 1px solid #0f172a;
   
}

.info-img:hover{
    transform: scale(0.9,0.9);
}

.m-info-change{
    grid-column: 4/5;
    grid-row: 2/6;
    border-radius: 16px;
    background-color: #e0f2fe;;
    color: #0f172a;
    font-family: var(--font-f);
    padding: 15px;
    border: 1px solid #0f172a;
    
}
