
:root{
    --4xl:2.25rem;
    --2xl:1.25rem;
    --xl:1.125rem;
    --xs:.75rem;
}
body{
    height:100vh;
    background-color:white;
}
.container{
    padding:0 2rem;
}
h1{
    line-height: 2rem;
    font-size: var(--4xl);
    font-family: Inconsolata,ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    font-weight: 300;
    padding-right:2rem;
}


.flexrow{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
}
.flexcolumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:2rem;
}
.main{
    padding-top:2rem;
    gap:2rem;
    justify-content: space-between;
    flex:auto;
    padding-bottom:2rem;
    max-width: 1260px;
    margin:auto;
}
.namehold{
    height:auto;
    justify-content:space-between;
    max-width: 1260px;
    padding:0, 2rem;
    box-sizing:border-box;

}

.buttonhome{
    justify-content: space-between;
    height:auto;
    border-top:1px solid rgb(212, 212, 216);
    max-width: 1260px;
    padding:0, 2rem;
    box-sizing: border-box;
    
}
button{
    margin:auto;
}
.left,
.right{
    padding-inline-start: 0;
    gap:1rem;
}
.spacer{
    height:500px;
    background:green;
}
ul{
    list-style-type: none;
    gap: 1rem;
}
 a,
 a:link,
 a:hover,
 a:visited,
 a:active{
    text-decoration: none;
    color:black;
}
footer{
    height:4rem;
    background-color: #f5f5f5;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top:auto;
}
.footerbutton{
    border-radius: 100%;
    padding: 1.5rem .5rem;
    background-color: pink;

}
.buttoncontainer{
    gap:.75rem;
}
.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    margin:auto;
  }
  img{
    width:400px;
    height:auto;
  }
  .leftmain,
  .rightmain{
    height:100%
  }

  .new-container {
    max-width: 1260px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;

  }
  .header{
    width:100%;
    box-shadow: 0 4px 6px -1px #0000001a,0 2px 4px -2px #0000001a;
    gap:0;
    padding:0;
    box-sizing: border-box;
}
.imgwrapper{
    height:10rem;
    width:10rem;
    background-color: aqua;
    border-radius: 50%;
    flex-shrink:0;
}